[package]
name = "systest"
description = "Moturus OS systest."
authors = ["The Moturus Project Developers"]
license = "MIT OR Apache-2.0"
version = "0.1.0"
edition = "2021"

[dependencies]
moto-runtime = { path = "../../lib/moto-runtime", features = ["rt-api"] }
moto-ipc     = { path = "../../lib/moto-ipc"    }
moto-sys     = { path = "../../lib/moto-sys"    }

futures = "0.3"

[patch.crates-io]
moto-ipc     = { path = "../../lib/moto-ipc"    }
moto-sys     = { path = "../../lib/moto-sys"    }

[features]
test_sse = []

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = "fat"
strip = true
codegen-units = 1
