[package]
name = "httpd"
description = "A simple HTTPd serving static content."
authors = ["The Moturus Project Developers"]
license = "MIT OR Apache-2.0"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "=4.5.6", features = ["derive"] }
rustls = { version = "0.23", default-features = false, features = ["ring", "std"] }
rustls-pemfile = "2"
time = { version = "0.3.36", default-features = false, features = ["std"] }

[patch.crates-io]
ring = { git = "https://github.com/moturus/ring.git" }

[profile.release]
panic = "abort"
lto = "fat"
strip = true
codegen-units = 1
